/node_modules
/includes/node_modules
dist/bookreader/BookReader
dist/epubreader
dist/dweb-transports-bundle.js
dist/dweb-objects-bundle.js
*.swp
/includes/package-lock.json
yarn-error.log
.idea
web_modules
