/* Styles used for all the examples */
/* TODO-REPO extract from this, the ones used in archive.html and remove rest */

/* Styles used for tables of properties, especially by (now obsolete) objbrowser.js*/
.props { padding-left: 0; } /*Move back directly under type name*/
.prop {display:table-row; border: 1px dotted grey; } /*ignoring border*/
.propname {display:table-cell; font-weight:bold;background-color:#cccccc;border: 1px dotted grey; padding-left:0.3em; padding-right:0.3em} /*width:15em */
.examplesacademic .propname {background-color:#f0f0f0; border: 0; }
.propval {display:table-cell; background-color:#dddddd;border: 1px dotted grey; padding-left: 0.3em; padding-right: 0.3em;} /*width:15em;*/
.propval span {white-space: pre;} /*Dont want white-space in e.g. img*/
.proplinks {padding-left: 0.5em;} /*List of sub-objects inside propval*/
.propobj {border-color: black; border-top: 2px solid; padding-bottom:0.3em; padding-top:0.3em; }
.classname {font-weight: bold;} /* Used for class name in objbrowser */
.propurls {display: table; padding: 0px;} /* Ignore ul padding default which is large */
.propurl {display: table-row} /* propurl inside propurls */
/*
    Styles for appearing/disappearing parts based on hover or active
    hoveronly appear only when they are active, hoverclue only when not active
    the :active :hover :focus are to ensure it works on mobile devices as well
*/
.container form.hoveronly, .container div.hoveronly, .container span.hoveronly,.container i.hoveronly{display: none}
.container:active span.hoveronly,.container:active span.hoveronly,.container:hover span.hoveronly{display: inline}
.container:active i.hoveronly,.container:focus i.hoveronly,.container:hover i.hoveronly{display: inline-block}
.container:active form.hoveronly,.container:focus form.hoveronly,.container:hover form.hoveronly{display: block}
.container:active div.hoveronly,.container:focus div.hoveronly,.container:hover div.hoveronly{display: block}
.container span.hoverclue{display: inline}/* Text in headline to disappear when main part open*/
.container:active .hoverclue,.container:focus .hoverclue,.container:hover .hoverclue{display: none}

/*
   Some specific styles used by difference examples
 */
#statuselement { margin: 0 0 3px 10px; float: right; clear: right; text-align: right; position: relative; }  /* "floatright" Grouped in top right corner */
#statuselement li {display: table-row; padding-top: 3px; padding-right: 0; margin: 0 0 3px 3px;}
.floatright {margin: 0 0 3px 10px; float: right; clear: right; text-align: right} /* Grouped in top right corner */
.examplesarchive .floatright { position: fixed; z-index: 999999; top: 100px; right: 10px; font-size: 50% }
.examplesarchive .floatright ul {display: grid;  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));  grid-auto-flow: dense;}
.floatleft {margin: 0 0 3px 10px;  clear: left; float: left; text-align: left} /* Grouped in top left corner */
.floatright li {margin: 0 0 3px 10px; }
.floatright ul {margin: 0 0 3px 10px; }
.examplesarchive .floatright ul { width: 150px;} /* Wide enogh for two indicators */
.examplesarchive .floatright li { padding-top: 1px; margin: 0 0 3px 3px;} /* Wide enogh for two indicators */
.vertical_li {display: table-row; padding-top: 3px; padding-right: 0; margin: 0 0 3px 3px;}
.said {display: block; border-bottom: 1px black solid;} /* Each item added to list in example_list */
.button { border: 1px black solid; background-color:#dddddd;  padding-bottom:0.1em;  display:inline;} /* Buttons */
.displayedblock {border: 1px #e0e0e0 solid; background-color:#f0f0f0; box-shadow: 1px 1px 2px #cccccc; padding-top:0.1em; padding-bottom: 0.1em; margin-top: 10px; margin-bottom: 5px; display:inline-block;}
.displayedblockheader {background-color:#e0e0e0; padding-top:0.1em; padding-bottom: 0.1em; margin-top: 3px; margin-bottom: 3px;}
.dialogform .propval {white-space: pre; display:block; background-color:#dddddd;border: 1px dotted grey; padding-left: 0.3em; padding-top: 0.3em; padding-bottom: 0.1em; margin-top: 0.5em; margin-left: 0.5em; margin-right: 0.5em; margin-bottom: 0.5em;  }
.dialogform .button { border: 1px black solid; background-color:#dddddd;  padding-bottom: 0.1em; padding-right: 0.3em; padding-left: 0.3em; margin-top: 0.5em; margin-left: 0.5em; margin-right: 0.5em; margin-bottom: 0.5em;}
.iconopener {width:20px;}
.inline_li {display:inline-grid; padding-left: 1em; padding-right: 1em;} /*A single login in a list of KeyChains or Keys */
.inline_ul {display:inline; -webkit-padding-start: 0;} /*A List of KeyChains or Keys*/
.keylist_icon {height: 12px; margin-left: 12px; margin-right: 3px;}
.inline {display:inline;}
.hidden {display:none}
.overdiv {position: absolute; top: 1em; left: 1em; z-index:10; background-color: #f0f0ff; border: 1px #e0e0e0 solid; padding: 5px; } /* Dialogue box over other*/
.template {display: none}
.tooltip { position: relative; display: inline-block; } /*border-bottom: 1px dotted black; */
.tooltip .tooltiptext { visibility: hidden; z-index: 1;  opacity: 0; transition: opacity 1s;
    width: 250px; background-color: #555; color: #fff; text-align: center; border-radius: 6px; padding: 5px 0;
    position: absolute; bottom: 125%; left: 50%; margin-left: -125px;  }
.tooltip .tooltiptext::after { content: ""; position: absolute; top: 100%; left: 50%;
    margin-left: -5px; border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent;   }
.tooltip:hover .tooltiptext { visibility: visible; opacity: 1; }
.propval .tooltiptext {white-space: normal}

/*
    Academic playing around without effecting others
 */
.examplesacademic .fileslist { text-align: center;}
.academic_demo_img {display:table-cell; margin-right:10px;}
.academic_demo_link {display: table-cell;}
.academic_demo_a {display:table-row; text-align: left;}
.academic_demo_meta {background-color:#f0f0f0; border: 0; vertical-align: middle; display:block; text-align:left; margin-bottom:10px; }
.academic_demo_file {margin-bottom: 20px;}
.examplesacademic #searchresults [name=title] {font-weight: bold;}
.examplesacademic #metadataresults [name=doi_org_metadata_title] {font-weight: bold;}
.examplesacademic #searchresults li {text-align: left; margin-bottom: 10px;}
.examplesacademic #searchresults span {display: inline-block;}/*Try and keep each part together*/

.exampleskeys .inline_ul {display: grid;  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));  grid-auto-flow: dense;}

.examples #vl_target {display: block;}
.examples #loginform {position: absolute; top: 0.5em; right: 1em; z-index:5; background-color: #f0f0ff; border: 1px #e0e0e0 solid; padding: 5px; }
.examples #registrationform {position: absolute; top: 1em; right: 1.5em; z-index:10; background-color: #f0f0ff; border: 1px #e0e0e0 solid; padding: 5px; }/* z > loginform*/
.examples #keychain {position: absolute; top: 0.5em; right: 1em; z-index:5; background-color: #f0f0ff; border: 1px #e0e0e0 solid; padding: 5px; width: 450px;}
.examples #keynew_form {position: absolute; top: 1em; right: 1.5em; z-index:7; background-color: #f0f0ff; border: 1px #e0e0e0 solid; padding: 5px; width: 450px;}/*z > keychain*/
.examples #locknew_form {position: absolute; top: 1em; right: 1.5em; z-index:7; background-color: #f0f0ff; border: 1px #e0e0e0 solid; padding: 5px; width: 450px;}/*z > keychain*/
.examples #lock_div {position: absolute; top: 0.5em; right: 1em; z-index:7; background-color: #f0f0ff; border: 1px #e0e0e0 solid; padding: 5px; width: 450px;}/*z > keychain*/
.examples #tokennew_form {position: absolute; top: 0.5em; right: 1em; z-index:10; background-color: #f0f0ff; border: 1px #e0e0e0 solid; padding: 5px; width: 450px; text-align:left;}/*z > lock_div*/

.transportstatus0 {color: lawngreen}
.transportstatus1 {color: red}
.transportstatus2 {color: yellow}
.transportstatus3 {color: black}
.transportstatus4 {color: purple}
